@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div style="display:flex; justify-content:center; align-items:center; width:100%; margin-top:20px">
    <p style="color:white; ">
        Please check your email to reset your password.
    </p>
</div>