@using ECommerce.Models.IdentityModels.ResetPassword;
 
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<form style="margin-top:40px" asp-action="ForgotPassword" method="post" class="login-form">
    
    <div class="mb-3 text-light">
        <label for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="Email" aria-describedby="emailHelp">
        <div id="passHelp" class="form-text">Write your email which tethered with your account.</div>
    </div>
    <div style="display: flex; justify-content:start; align-items: center; margin-right:95px; margin-top:10px;">
        <button type="submit" class="btn btn-primary">Update Password</button>
    </div>

</form>
