@using ECommerce.Models.IdentityModels.ResetPassword;
 
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
 
<div style="display: flex; justify-content: center; align-items: center">
    @{
        var modelErrorCollection = ViewData.ModelState["ResetPasswordError"]?.Errors;
            if (modelErrorCollection != null)
            {
                foreach (var error in modelErrorCollection)
                {
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                        <span class="text-danger">@error.ErrorMessage</span>
                    </div>
                }
            }
    }
</div>

<form style="margin-top:40px" asp-action="ResetPassword" method="post" class="login-form">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Code" />
    <div class="mb-3 text-light">
        <label for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="Password" aria-describedby="passHelp">
        <div id="passHelp" class="form-text">We'll never share your password with anyone else.</div>
    </div>
    <div class="mb-3 text-light">
        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword">
    </div>
    <div style="display: flex; justify-content:start; align-items: center; margin-right:95px; margin-top:10px;">
        <button type="submit" class="btn btn-primary">Update Password</button>
    </div>

</form>
